<p>Date: {{ currentdate }}</p>
<p>The charge for the first hour is {{ firsthour }} euros</p>
<p>The charge per hour is {{ perhour }} euros</p>
<p>Available positions: {{ availablepositions }}</p>
<p>Occupied positions: {{ occupiedpositions }}</p>
<a href="{{ path('parking_arrival_form') }}" class="button--primary button">{{ arrivalbutton }}</a>
<a href="{{ path('parking_departure_form') }}" class="button--primary button">{{ departurebutton }}</a>
<a href="{{ path('parking_departure_form') }}" class="button--primary button">{{ carlist }}</a>
