{{ message }}
<p>Date: {{ currentdate }}</p>
<p>Available positions:</p>
<p>Occupied positions:</p>
<a href="{{ path('parking_arrival_form') }}" class="button--primary button">{{ arrivalbutton }}</a>
<a href="{{ path('parking_departure_form') }}" class="button--primary button">{{ departurebutton }}</a>
<a href="{{ path('parking_departure_form') }}" class="button--primary button">{{ carlist }}</a>
