<p>Date: {{ currentdate }}</p>
<p>The charge for the first hour is {{ firsthour }} euros <a href="{{ configform }}"> {{ change }}</a></p>
<p>The charge per hour is {{ perhour }} euros <a href="{{ configform }}"> {{ change }}</a></p>
<p>Available parking spaces: {{ availablespaces }}</p>
<p>Occupied parking spaces: {{ occupiedspaces }}</p>
<p>Vehicles with unpaid tickets: {{ unpaidtickets }} <a href="{{ urldebtors }}"> {{ debtorsview }}</a></p>
<a href="{{ path('parking_arrival_form') }}" class="button--primary button">{{ arrivalbutton }}</a>
<a href="{{ path('parking_departure_form') }}" class="button--primary button">{{ departurebutton }}</a>
<a href= "{{ urlcarlist }}" class="button--primary button">{{ carlist }}</a>